<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386814476624-ir7stsjbkhipsihb35pq7e94r270ajko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386814476624-ir7stsjbkhipsihb35pq7e94r270ajko</string>
	<key>API_KEY</key>
	<string>AIzaSyDeQwFeVV-remvAUTK9aGXUZ4etAAunB-8</string>
	<key>GCM_SENDER_ID</key>
	<string>386814476624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fadyelgawly.Faylasof-Task</string>
	<key>PROJECT_ID</key>
	<string>faylasof-task</string>
	<key>STORAGE_BUCKET</key>
	<string>faylasof-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386814476624:ios:52232a2a43f5c4a39c2c55</string>
	<key>DATABASE_URL</key>
	<string>https://faylasof-task.firebaseio.com</string>
</dict>
</plist>